{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
        <div id="index-banner" class="parallax-container">
            <div class="row center">
                <div class="container">
                    <h1 class="header truncate center cyan-light-text light">Cronómetro</h1>
                    <div class="row center">
                        <h5 class="header col s12">Cronómetro con Material Design</h5>
                        <p>No nos íbamos a conformar solo con la calculadora ¿Cierto?</p>
                    </div >
                </div>
            </div>
            <div class="parallax"><img src="{% static 'img/cronometro.jpg' %}" alt="Unsplashed background img 2"></div>
        </div>

        <div class="container">
            <div class="section">
                <div class="row center">
                    <div align=center><form class='calculadora'>
                        <h2>Cronómetro</h2>
                        <div class="row">
                            <div class="col s12 m12 l6 offset-l3">
                                <div class="card-panel cyan">
                                    <div style="color:white;"><p id="horas" style="display:inline; font-size:36px;">00</p><p style="display:inline; font-size:36px;">:</p><p id="minutos" style="display:inline; font-size:36px;">00</p><p style="display:inline; font-size:36px;">:</p><p id="segundos" style="display:inline; font-size:36px;">00</p><p style="display:inline; font-size:36px;">:</p><p id="milisegundos" style="display:inline; font-size:36px;">00</p></div>
                                    <br><div class="divider"></div><br>
                                    <div><a class="btn-flat waves-effect waves-light white-text" id="btnPlay" onclick="play()"><i style="font-size:36px;" class="mdi-av-play-arrow"></i></a>
                                        <a class="btn-flat waves-effect waves-light white-text" id="btnStop" onclick="stop()"><i style="font-size:36px;" class="mdi-av-stop"></i></a>
                                        <a class="btn-flat waves-effect waves-light white-text" id="btnPause" onclick="pause()"><i style="font-size:36px;" class="mdi-av-pause"></i></a>
                                        <a class="btn-flat waves-effect waves-light white-text" id="btnVuelta" onclick="vuelta()"><i style="font-size:36px;" class="mdi-av-replay"></i></a></div>

                                </div>
                            </div>
                        </div>

                        <div id="vueltas">

                        </div>
                        </form></div>


                </div>
            </div>
        </div>
{% endblock     %}
{% block scripts %}
    <script>
        $("#").removeClass("clasecss");
        $("").addClass("active");

        var cronometro;
        var horasD = document.getElementById("horas");
        var minutosD = document.getElementById("minutos");
        var segundosD = document.getElementById("segundos");
        var milisegundosD = document.getElementById("milisegundos");
        var horas = 0;
        var minutos = 0;
        var segundos = 0;
        var milisegundos = 0;
        var isPausa=false;
        var horasV= 0;
        var minutosV = 0;
        var segundosV = 0;
        var milisegundosV = 0;     
        var posV = 0;

        function play(){
            clearInterval(cronometro);
            cronometro = setInterval(function(){run()},10);
            document.getElementById("btnPlay").disabled = true;
        }

        function stop(){
            console.log(milisegundosV, minutosV, segundosV, horasV);
            if (milisegundosV != 0 || minutosV != 0 || segundosV != 0 || horasV !=0){
                var hr = document.createElement("HR");
                document.getElementById("vueltas").appendChild(hr);
            }
            horas = horasV = 0;
            minutos = minutosV = 0;
            segundos = segundosV = 0;
            milisegundos = milisegundosV = 0;
            refresh();
            clearInterval(cronometro);
            document.getElementById("btnPlay").disabled = false;

        }

        function pause(){
            document.getElementById("btnPlay").disabled = false;
            if (isPausa){
                run();
            }else{
                clearInterval(cronometro);}
        }
        //("00" + h).slice (-3)
        function vuelta(){
            posV += 1;  
            var horasResta = 0;
            var minutosResta = 0;
            var segundosResta = 0;
            if (minutosV>minutos){horasResta = 1;}
            if (segundosV>segundos){minutosResta = 1;}
            if (milisegundosV>milisegundos){segundosResta = 1;}
            var horasDisplay = ("00" + (horas-horasV-horasResta)).slice(-2);
            var minutosDisplay =("00" + (minutos-minutosV-minutosResta)).slice(-2) ;
            var segundosDisplay = ("00" + (segundos-segundosV-segundosResta)).slice(-2);
            var milisegundosDisplay = ("00" + (milisegundos-milisegundosV+1000)).slice(-3);
            var diff = horasDisplay+":"+minutosDisplay+":"+segundosDisplay+":"+milisegundosDisplay;
            var time = ("00" + horas).slice(-2)+":"+("00" + minutos).slice(-2)+":"+("00" + segundos).slice(-2)+":"+("00" + milisegundos).slice(-3);
            horasV = horas;
            minutosV = minutos;
            segundosV = segundos;
            milisegundosV = milisegundos;
            addVuelta(posV, diff, time);
        }

        function run(){
            var que = true;
            if (milisegundos < 990){
                milisegundos += 10;
            }else{
                milisegundos = 0;
                segundos+=1;
            }

            if(segundos==60){
                segundos = 0;
                minutos += 1;
            }

            if(minutos==60){
                minutos = 0;
                horas+=1;
            }
            refresh();
        }

        function refresh(){
            if(milisegundos < 10){
                milisegundosD.innerHTML = "00"+milisegundos;
            }
            else if(milisegundos<100){
                milisegundosD.innerHTML = "0"+milisegundos;
            }
            else{
                milisegundosD.innerHTML = milisegundos;
            }

            if (segundos<10){
                segundosD.innerHTML = "0"+segundos;
            }
            else{
                segundosD.innerHTML = segundos;
            }

            if (minutos<10){
                minutosD.innerHTML = "0"+minutos;
            }
            else{
                minutosD.innerHTML = minutos;
            }
        }

        function addVuelta(pos, dif, time){
            var x = document.createElement("LABEL");
            var t = document.createTextNode("#"+pos+" - "+dif+" - "+time+"\n");
            x.appendChild(t);
            document.getElementById("vueltas").appendChild(x);
            var br = document.createElement("BR");
            document.getElementById("vueltas").appendChild(br);
        }

    </script>

{% endblock %}